body,html {
    font-family: Montserrat;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Light background for contrast */
}

#head {
    margin-bottom: 20px; /* Add space below the heading */
}

.graph-block {
    width: 1280px;
    aspect-ratio: 16 / 5;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 1);;
    border-radius: 10px; /* Optional: rounded corners */
}

.info{
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
}

.info-block {
    width: 500px;
    margin: 10px;
    aspect-ratio: 2 / 1;
    border: 1px solid rgba(0, 0, 0, 1);;
    border-radius: 10px; /* Optional: rounded corners */
}